# DATAFRAME

In [30]:
import pandas as pd 
import numpy as np
student_data = {
    'Name' :   ['Anushka' , 'Raghav' , 'Arnav' ,' Priya' , 'Katrina' , 'David' , 'Himansh' , 'Sachin' , 'Srishti' , 'Krish'] ,
    'Gender' : ['Female' , 'Male' , 'Other' , 'Female' , 'Female' , 'Other' , 'Male' , 'Male' , 'Female' , 'Male'] , 
    'Age' : [26 , 35 , 12 , 19 , np.nan ,56,32 , 36 , 9 , 24 ] , 
    'Education' : ['UG' , 'PG' , 'PhD' , 'PG' , 'PhD' , 'PhD' , 'UG' , 'UG' , 'PG' , 'PhD' ]

}

data = pd.DataFrame(student_data)
print(data)

      Name  Gender   Age Education
0  Anushka  Female  26.0        UG
1   Raghav    Male  35.0        PG
2    Arnav   Other  12.0       PhD
3    Priya  Female  19.0        PG
4  Katrina  Female   NaN       PhD
5    David   Other  56.0       PhD
6  Himansh    Male  32.0        UG
7   Sachin    Male  36.0        UG
8  Srishti  Female   9.0        PG
9    Krish    Male  24.0       PhD

# IMPUTATION

In [ ]:
mean_age = data['Age'].mean()
data['Age'] = data['Age'].fillna(mean_age)
print(data)

      Name  Gender        Age Education
0  Anushka  Female  26.000000        UG
1   Raghav    Male  35.000000        PG
2    Arnav   Other  12.000000       PhD
3    Priya  Female  19.000000        PG
4  Katrina  Female  27.666667       PhD
5    David   Other  56.000000       PhD
6  Himansh    Male  32.000000        UG
7   Sachin    Male  36.000000        UG
8  Srishti  Female   9.000000        PG
9    Krish    Male  24.000000       PhD

In [ ]:
median_age = data['Age'].median()
data['Age'] = data['Age'].fillna(median_age)
print(data)

      Name  Gender        Age Education
0  Anushka  Female  26.000000        UG
1   Raghav    Male  35.000000        PG
2    Arnav   Other  12.000000       PhD
3    Priya  Female  19.000000        PG
4  Katrina  Female  27.666667       PhD
5    David   Other  56.000000       PhD
6  Himansh    Male  32.000000        UG
7   Sachin    Male  36.000000        UG
8  Srishti  Female   9.000000        PG
9    Krish    Male  24.000000       PhD

In [35]:
mode_age = data['Age'].mode()
data['Age'] = data['Age'].fillna(mode_age)
print(data)

      Name  Gender        Age Education
0  Anushka  Female  26.000000        UG
1   Raghav    Male  35.000000        PG
2    Arnav   Other  12.000000       PhD
3    Priya  Female  19.000000        PG
4  Katrina  Female  27.666667       PhD
5    David   Other  56.000000       PhD
6  Himansh    Male  32.000000        UG
7   Sachin    Male  36.000000        UG
8  Srishti  Female   9.000000        PG
9    Krish    Male  24.000000       PhD

# ORDINAL ENCODING

In [ ]:
E = data['Education'].unique()

print(E)

array(['UG', 'PG', 'PhD'], dtype=object)

In [38]:
education_order = ['UG' , 'PG' , 'PhD']
print(education_order)

['UG', 'PG', 'PhD']

In [39]:
data_encoded = []
for E in data['Education']:
    value = education_order.index(E) + 1
    data_encoded.append(value)
print(data_encoded)

[1, 2, 3, 2, 3, 3, 1, 1, 2, 3]

In [42]:
data['Education_encoded'] = data_encoded
print(data)

      Name  Gender        Age Education  Education_encoded
0  Anushka  Female  26.000000        UG                  1
1   Raghav    Male  35.000000        PG                  2
2    Arnav   Other  12.000000       PhD                  3
3    Priya  Female  19.000000        PG                  2
4  Katrina  Female  27.666667       PhD                  3
5    David   Other  56.000000       PhD                  3
6  Himansh    Male  32.000000        UG                  1
7   Sachin    Male  36.000000        UG                  1
8  Srishti  Female   9.000000        PG                  2
9    Krish    Male  24.000000       PhD                  3

# ONE HOT ENCODING

In [12]:
GENDER = data['Gender'].unique()
GENDER

array(['Female', 'Male', 'Other'], dtype=object)

In [24]:
one_hot = []
for g in data['Gender']:
    row = []
    for G in GENDER:
        if g == G:
            row.append(1)
        else:
            row.append(0)
    one_hot.append(row)
print(one_hot)

[[1, 0, 0], [0, 1, 0], [0, 0, 1], [1, 0, 0], [1, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 0], [1, 0, 0], [0, 1, 0]]

In [25]:
final = pd.DataFrame(one_hot , columns = GENDER)
print(final)

   Female  Male  Other
0       1     0      0
1       0     1      0
2       0     0      1
3       1     0      0
4       1     0      0
5       0     0      1
6       0     1      0
7       0     1      0
8       1     0      0
9       0     1      0

In [27]:
data_encoded = pd.concat([data['Gender'] , final] , axis =1)
print(data_encoded)

   Gender  Female  Male  Other
0  Female       1     0      0
1    Male       0     1      0
2   Other       0     0      1
3  Female       1     0      0
4  Female       1     0      0
5   Other       0     0      1
6    Male       0     1      0
7    Male       0     1      0
8  Female       1     0      0
9    Male       0     1      0